@model Department
@{
	ViewBag.Title = "New Department";

}



<form method="post" asp-action="SaveNew" asp-controller="Department" >
	<input type="hidden" asp-for="DeptId"/>
	<div class="form-group">
		<label asp-for="DeptName">Department Name</label>
		<input asp-for="DeptName" class="form-control"/>
		<span style = "color:red" asp-validation-for="DeptName"></span>
	</div>

	<div class="form-group">
		<label asp-for="Deptmanager" >Department Manager</label>
		<input asp-for="Deptmanager" class="form-control"/>
	</div>



	



	<br/>
	<button type="submit" class="btn btn-outline-primary">Save</button>
</form>



