<html>
	<head></head>
	<body>
		<h1>header</h1>
		<p>hello from view test</p>
		
	</body>
</html>

@{
	int x = 1;
	int y = 2;
	int z = x + y;
}
<h2>@z</h2>s


<style>
	h1 {
		color : red
	}
</style>