@model Course


<div class="card" style="width: 18rem;">
  <div class="card-header">
    @Model.Name
  </div>
  <ul class="list-group list-group-flush">
    
    <li class="list-group-item"> Min degree: @Model.MinDegree</li>
    <li class="list-group-item"> Department Id: @Model.DeptId</li>
  </ul>
</div>